body, html {
  height: 100%;
  margin: 0;
  font: 400 20px/1.8 VCR;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90%;
}

.bgimg-1 {
  background-image: url("../images/image0.jpg");
}

.bgimg-2 {
  background-image: url("../images/image1.jpg");
}

.bgimg-3 {
  background-image: url("../images/image3.jpg");
}

.bgimg-4 {
  background-image: url("../images/image2.png");
}

.center {
    display:flex;
    justify-content:center;
    align-items:center;"
}

.rotate {
    transform: rotate(-10deg);
}

.caption {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;
  color: #000;
}

.text-block {
  color: #ddd;
  background-color: #555;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}

.caption span.border {
  background-color:transparent;
  font-size:64px;
  color: #f7f7f7;
  font-family: Streamster;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.heading {    
  color: #00FFFA;
  font-size: 144px;
  letter-spacing: 10px;
  font-family: Streamster;
  text-shadow: -1px 0px 3px white, 0px 1px 3px white, 1px 0px 3px white, 0px -1px 3px white;
  animation: pulse 2s infinite ease-in-out;
}

.screenshot {
  width: 80%;
}

.screenshot tbody tr td {
  width:50%;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}

.screenshot tbody tr td>img{
  width:100%;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;  
}

.screenshot tbody tr td:hover>img{
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
  opacity: 0.7;
}

.zoom-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.zoom-icon>img {
  transition: .5s ease;
  opacity: 0;
  width: 50%;
  height: 50%;
}

.screenshot tbody tr td:hover .zoom-icon>img {
  opacity: 0.5;
}

table {
    width: 60%;
}

.controls {
    border-collapse: collapse;
}

.controls td {
    border-bottom: 1px solid #ddd;
}

.controls td:nth-child(2) {
    text-align: right;
}

.controls tr:hover {
    background-color: #666;
}

td a { 
    display: block; 
    width: 100%; 
    height: 100%; 
}

@keyframes pulse {
    50% {        
        color: #55FFFF;        
        text-shadow: -2px 0px 3px white, 0px 2px 3px white, 2px 0px 3px white, 0px -2px 3px white;
    }
}


h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 25px VCR;
  color: #eee;
  text-decoration: underline;
}

p, ul {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-height: 80%;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.3s;
    animation-name: zoom;
    animation-duration: 0.3s;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #ddd;
    font-size: 90%;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 100%;
    left: 50%; 
    margin-left: -100px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.scroll-top {
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: #444;
    transition: 0.5s;
    border-radius: 2px;
}

.scroll-top:hover {
    background-color: #505050;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

@font-face {
    font-family: Streamster;
    src: url("Streamster.ttf");
}

@font-face {
    font-family: VCR;
    src: url("VCR.ttf");
}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
        background-attachment: scroll;
    }
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}